<?xml version="1.0" encoding="UTF-8"?>

<config>
    <metadata>
        <name>Net-Promoter-Score</name>
        <type>question_theme</type>
        <title>Net Promoter Score</title>
        <creationDate>15/11/2019</creationDate>
        <author>Tony Partner</author>
        <authorEmail>tpartner@partnersurveys.com</authorEmail>
        <authorUrl>http://partnersurveys.com</authorUrl>
        <license>GNU General Public License version 2 or later</license>
        <version>1.0</version>
        <apiVersion>1</apiVersion>
        <description>A net promoter score question</description>		
        <questionType>L</questionType>
        <group>Single choice questions</group>
        <answerscales>0</answerscales>
        <hasdefaultvalues>1</hasdefaultvalues>
        <assessable>1</assessable>
        <class>net-promoter-score</class>
    </metadata>

    <compatibility>
        <version>4.0</version>
    </compatibility>

    <!--
        Here the list of the css/js files to load.
        Any file here will be loaded via the asset manager (when in config.php debug = 0)
    -->
    <files>
        <css>
            <filename>css/nps.css</filename>
        </css>
        <js>
        </js>
		<preview>
			<filename>images/nps_1.png</filename>
		</preview>
    </files>

    <custom_attributes>
        <!-- New attributes -->
        <attribute>
            <name>nps_left_text</name>
            <category>Custom options</category>
            <sortorder>0</sortorder>
            <inputtype>text</inputtype>
            <default>...</default>
            <help>The left text displayed above the scale.</help>
            <caption>Scale left text</caption>
            <readonly_when_active>false</readonly_when_active>
            <i18n>hr</i18n>
        </attribute>
		
        <attribute>
            <name>nps_right_text</name>
            <category>Custom options</category>
            <sortorder>1</sortorder>
            <inputtype>text</inputtype>
            <default>...</default>
            <help>The right text displayed above the scale.</help>
            <caption>Scale right text</caption>
            <readonly_when_active>false</readonly_when_active>
            <i18n>hr</i18n>
        </attribute>

        <attribute>
            <name>nps_show_colors</name>
            <category>Custom options</category>
            <sortorder>2</sortorder>
            <inputtype>buttongroup</inputtype>
            <options>
                <yes>Yes</yes>
                <no>No</no>
            </options>
            <default>no</default>
            <help>Select whether to show coloured top borders for the answer options.</help>
            <caption>Show/Hide colours</caption>
            <readonly_when_active>false</readonly_when_active>
        </attribute>
    </custom_attributes>

    <!-- Here datas about how LimeSurvey should load the core js/css of the question -->
    <engine>
        <load_core_css>true</load_core_css>
        <load_core_js>true</load_core_js>
        <show_as_template>true</show_as_template>
        <show_as_question_type>true</show_as_question_type>
    </engine>
</config>
